<h2>{{ title }}</h2>
<p *ngIf="message">{{ message }}</p>
<ul class="products">
    <!--
        note that the ngFor directive appears on the element that should be repeated,
        not on its container
    -->
    <li *ngFor="let product of products"
        [class.discontinued]="product.discontinued"
        [class.selected]="product === selectedProduct"
        (click)="onSelect(product)">
        <span class="name">{{ product.name | uppercase }}</span>
        {{ product.description }}
        <span class="price">{{ product.price | currency:'CAD':true:'.2' }}</span>
    </li>
</ul>
<!-- Note the $event being passed to addFavourite; that's an internal angular variable -->
<product-detail 
    *ngIf="selectedProduct" 
    [product]="selectedProduct"
    (favourited)="addFavourite($event)"></product-detail>