<h2>{{ title }}</h2>
<ul class="products">
    <!--
        note that the ngFor directive appears on the element that should be repeated,
        not on its container
    -->
    <li *ngFor="let product of products"
        [class.discontinued]="product.discontinued"
        (click)="onSelect(product)">
        <span class="name">{{ product.name }}</span>
        {{ product.description }}
        <span class="price">{{ product.price | currency:'CAD':true:'.2' }}</span>
    </li>
</ul>
<product-detail [product]="selectedProduct"></product-detail>